{% extends "base.html" %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5 mb-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Profile</h1>
            <p class="lead fw-normal text-white-50 mb-0">Update and edit profile info...</p>
        </div>
    </div>
</header>
<div class='col-md-6 offset-md-3'>
    <div class='card shadow-sm p-4'>
    <form method="POST" action='{% url "update_user" %}'>
        {% csrf_token %}
        {{ user_form.as_p }} 
        <button type="submit" class="btn btn-secondary w-100">Update Profile</button>
    </form>
    <div class="mt-3 text-center">
        <p>Want to change the password?</p>
        <a class="btn btn-link" href="{% url 'update_password' %}">Change password here</a>
    </div>
    <div class="mt-3 text-center">
        <p>Looking for other personal info?</p>
        <a class="btn btn-link" href="{% url 'update_info' %}">Edit User's Info</a>
    </div>
    </div>
</div>

{% endblock content %}

