{% extends "base.html" %}
        {% block content %}
        <!-- Header-->
        <header class="bg-dark py-5 header-animation">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Checkout</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Review your order</p>
                </div>
            </div>
        </header>
        
            <section class="h-100">
                <div class="container h-100 py-5">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-10">
                
                        <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="fw-normal mb-0">Review your products</h3>
                        </div>
                        {% for product in cart_products %}
                        <div class="card rounded-3 mb-4">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img src="{{product.image.url}}" class="img-fluid rounded-3">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-2">{{product.product_name}}</p>
                                    <p><span class="text-muted">Number of itmes: </span>
                                    <!--loop through the items to get the quntites selected-->
                                    {% for key, value in quantities.items %}
                                        {% if key == product.id|slugify %}
                                            {{value}}
                                        {% endif %}
                                    {% endfor %}
                                    </p>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h5 class="mb-0">
                                        {% if product.is_sale %}
                                        {{product.sale_price}} <br/><small class= 'text-muted'>Per product</small>
                                        {% else %}
                                        {{product.price}} <br/><small class= 'text-muted'>Per product</small>
                                        {% endif %}
                                    </h5>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="card mb-4">
                        <div class="card-body p-4 d-flex flex-row">
                            <div data-mdb-input-init class="form-outline flex-fill">
                                <input type="text" id="form1" class="form-control form-control-lg" />
                                <label class="form-label" for="form1">Discound code</label>
                            </div>
                        </div>
                            <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-warning m-4">Apply</button>
                            <h3 class = 'm-3'>Total: <span class="fw-bold">{{totals}}</span></h3> <!-- Update the total dynamically -->
                        </div>
                        <form method='POST' action ='{% url "billing_info" %}'>  
                            <div class = 'card rounded-3 mb-4'>
                                <div class='card-body p-4'>
                                <span>Shipping address</span> 
                                
                                {% csrf_token %}
                                {{shipping_form.as_p}}
                                </div>
                            </div> 
                            <div class="card">
                            <div class="card-body row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                                <button class="btn btn-warning btn-block btn-lg m-2" type='submit'>Proceed to Pay</button>
                                <a href='{% url "cart_summary" %}' class="btn btn-secondary btn-block btn-lg m-2">Update items</a>
                            </div>
                            </div>
                        </form>  
                    </div>
                    </div>
                </div>
            </section>  




{% endblock content %}