{% extends "base.html" %}
{% block content %}
<style>
    .table thead th {
        background-color: #343a40;
        color: #fff;
    }
    .table tbody tr:hover {
        background-color: #f1f1f1;
    }
</style>
<header class="bg-dark py-5 mb-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shipping Dashboard</h1>
            <p class="lead fw-normal text-white-50 mb-0">Shipped items :)</p>
        </div>
    </div>
</header>
<div clas='container'>
    <center>
        <div class="container mt-5">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Shipping Address</th>
                            <th scope="col">Amount Paid</th>
                            <th scope="col">Date Ordered</th>
                            <th scope="col">Shipped Date</th>
                            <th scope="col">Shipped Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Example row -->
                        {% for order in orders %}
                        <tr>
                            <td><a href="{% url "orders" order.id %}">{{order.id}}</a></td>
                            <td>{{order.full_name}}</td>
                            <td>{{order.email}}</td>
                            <td>{{order.shipping_address}}</td>
                            <td>{{order.amount_paid}}</td>
                            <td>{{order.date_ordered}}</td>
                            <td>{{order.shipped_date}}</td>
                            <td>
                                <form method ='POST'>
                                    {% csrf_token %}
                                    <input type='hidden' name='num' value={{order.id}}>
                                    <button type='submit' class='btn btn-danger btn-sm'>Mark not shipped</button>
                                </form>
                            </td>
                        </tr>
                        {%endfor%}
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </div>
        </div>
    </center>
</div>

{% endblock content %}

