{% extends "base.html" %}
{% block content %}
<header class="bg-dark py-5 mb-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Who are we? </h1>
            <p class="lead fw-normal text-white-50 mb-0">Don't wonder anymore mate, I am Hoba</p>
        </div>
    </div>
</header>
<div clas='container'>
    <center>
        <div class='col-8'>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi sint autem sunt quae. Quas modi laboriosam quis sed consectetur eveniet repellendus, aperiam, facilis tempora optio in impedit fugiat molestias nihil Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi sint autem sunt quae. Quas modi laboriosam quis sed consectetur eveniet repellendus, aperiam, facilis tempora optio in impedit fugiat molestias nihil.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi sint autem sunt quae. Quas modi laboriosam quis sed consectetur eveniet repellendus, aperiam, facilis tempora optio in impedit fugiat molestias nihil.</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi sint autem sunt quae. Quas modi laboriosam quis sed consectetur eveniet repellendus, aperiam, facilis tempora optio in impedit fugiat molestias nihil.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi sint autem sunt quae. Quas modi laboriosam quis sed consectetur eveniet repellendus, aperiam, facilis tempora optio in impedit fugiat molestias nihil.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi sint autem sunt quae. Quas modi laboriosam quis sed consectetur eveniet repellendus, aperiam, facilis tempora optio in impedit fugiat molestias nihil.</p>
        </div>
    </center>
</div>

{% endblock content %}

